{% extends 'pins/base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}Creat Pins{% endblock %}

{% block content %}
<!-- whole section -->
<div class="w-full min-h-fit max-h-max bg-neutral-300 py-12">
    {% if error_message %}
        <div class="text-center">
            <span class="text-md font-medium text-red-500">{{ error_message }}</span>
        </div>
    {% endif %}  
    <!-- flex container -->
    <div class="flex items-center justify-center w-md md:w-3.5xl max-h-max mx-auto bg-gray-100 drop-shadow-md rounded-2xl py-14 px-6">
        <!-- error message -->  
        <!-- FORM -->
        <form action="" enctype="multipart/form-data" method="post">
            <!-- image & input fields container -->
            <div class="flex flex-col items-center justify-center md:flex-row md:items-start md:justify-between w-md md:w-3.5xl px-6 md:px-10">
                
                <!-- image preview -->
                <div id="pin_preview_box" class="hidden flex flex-none justify-center items-center cursor-pointer max-h-max w-64 md:w-5/12 p-3 md:ml-8">
                    <label for="upload_pin">
                        <img class="w-full h-full rounded-lg" id="pin_preview" src="" alt="">
                    </label>
                </div>
                
                <!-- image drop box -->
                <!-- first container-->
                <div id="pin_drop_box"
                    class="flex flex-none items-center justify-center w-64 h-80 md:w-5/12 md:h-96 bg-neutral-300 rounded-lg p-3 md:ml-8">
                    <!-- dotted container -->
                    <div
                        class="flex flex-col justify-center items-center flex-col w-full h-full border-2 border-dotted border-neutral-200 rounded-lg">
                        <!-- upload image icon and recommendation text -->
                        <label for="upload_pin">
                            <div class="flex flex-col justify-center items-center h-full cursor-pointer">
                                <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                    <path
                                        d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-217c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39V392c0 13.3 10.7 24 24 24s24-10.7 24-24V257.9l39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0l-80 80z" />
                                </svg>
                                <p class="text-md text-gray-500 font-medium mt-3 text-center">
                                    Click Here To Upload<br>
                                    <span class="text-sm font-light text-gray-500">Use Only Image Type Files</span>
                                </p>
                            </div>
                        </label>
                    </div>
                </div>
                <!-- pin input -->
                <input id="upload_pin" type="file" name="pin" class="w-0 h-0" accept="image/*" required>

                <!-- form input section -->
                <div class="flex flex-col mt-8 md:mt-0 md:pr-8 md:ml-8 items-start justify-between bg-gray-100 gap-y-12 md:gap-y-12 p-3">
                    <textarea name="title" maxlength="50" rows="1" required
                        class="flex-none text-4xl px-0 text-gray-500 font-semibold w-full resize-none bg-gray-100 border-0 border-b focus:border-b-2 focus:border-indigo-500 focus:ring-0"
                        placeholder="Add your title"></textarea>
                    <textarea name="description" maxlength="200" rows="1"
                        class="flex-none text-md px-0 text-gray-500 font-medium w-full resize-none bg-gray-100 border-0 border-b focus:border-b-2 focus:border-indigo-500 focus:ring-0"
                        placeholder="About your pin (no more than 200)"></textarea>
                    <textarea name="tags" rows="1" required
                        class="flex-none text-md px-0 text-gray-500 font-medium w-full resize-none bg-gray-100 border-0 border-b focus:border-b-2 focus:border-indigo-500 focus:ring-0"
                        placeholder="Related tags (comma seperated)"></textarea>
                    <!-- create pin button -->
                    <button type="submit"
                        class="flex-none text-white bg-red-500 hover:bg-red-700 focus:outline-none focus:ring-0 font-medium rounded-full text-md px-5 py-2.5 text-center mr-2 mb-2">Create
                        Pin
                    </button>
                </div>
            </div>
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            autosize(document.querySelectorAll('textarea'));

            const upload_pin = document.getElementById('upload_pin');
            const pin_preview = document.getElementById('pin_preview');
            const pin_preview_box = document.getElementById('pin_preview_box');
            const pin_drop_box = document.getElementById('pin_drop_box');

            upload_pin.addEventListener('change', (event) => {
                if (event.target.files.length > 0) {
                    var src = URL.createObjectURL(event.target.files[0]);
                    pin_preview.src = src
                    if (!pin_drop_box.classList.contains('hidden')) {
                        pin_drop_box.classList.add('hidden');
                    }
                    if (pin_preview_box.classList.contains('hidden')) {
                        pin_preview_box.classList.remove('hidden');
                    }
                }
            });
        })
    </script>
{% endblock %}